
/*
    DESCRIPTION:
    Debian 12 build variables.
*/

// Guest Operating System Metadata
vm_guest_os_name     = "debian"
vm_guest_os_version  = "12.11"

// Virtual Machine Guest Operating System Setting
vm_guest_os_type = "other5xLinux64Guest"

// Virtual Machine Hardware Settings
vm_firmware = "efi-secure"

// Removable Media Settings
iso_file                 = "debian-12.11.0-amd64-netinst.iso"

